@model OdeToFood.Models.Restaurant
@using OdeToFood.Models

@{
    ViewBag.Title = "Create";
}
@Html.Partial("_Entry");






@if (ViewBag.UploadSuccess == true)
{
    <span>Upload completed successfully</span>
}


@section Scripts {

}
